<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let book of books">
            <div class="card">
                <img class="card-img-top" src="{{book?.PictureURL}}">
                <div class="card-block">
                    <h6 class="card-title">{{book.Name}}</h6>
                    <div class="details-btn">
                        <a (click)="goToBook(book)" class="btn btn-block btn-primary">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
