#t-cards {
    padding-top: 80px;
    padding-bottom: 80px;
}

.panel.panel-card {
    position: relative;
    height: 241px;
    border: none;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;
    transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    transform: translate3d(-50%,-50%,0);
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;
    transition: padding 400ms ease-in-out;
}

