<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Breadcrumbs</a>
  <div class="" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/stores">Stores <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/articles">Articles<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<breadcrumb [allowBootstrap]="true" [addClass]="'custom-crumbs'"></breadcrumb>
<router-outlet></router-outlet>
