.fluid-bread{
  background-color: white;
}
li.breadcrumb.list{
    margin: 0;
}
.breadcrumb{
  background-color: white;
  padding: 4px;
  margin-bottom: 0;
}

a.disabled {
  color: gray;
  cursor: default;

  &:hover{
    text-decoration: none;
  }
  &:first-letter {
    text-transform:capitalize;
  }
}
